{{#primary_author}}
<div class="author-box">
    <div class="author-profile-image">
        <div class="author-profile-inner">
            <a href="{{ url }}">
                <img src="{{ profile_image }}" alt="{{ name }}">
            </a>
        </div>
    </div>
    <div class="author_details">
        <h4 class="name"><a href="{{ url }}">{{ name }}</a></h4>
        <p class="bio">{{ bio }}</p>
        <div class="social-profiles mb-3">
            <ul class="d-flex">
                {{#if facebook}}
                <li class="mr-3"><a href="{{facebook_url}}" target="_blank"><i class="social_facebook"></i></a></li>
                {{/if}}

                {{#if twitter}}
                <li class="mr-3"><a href="{{twitter_url}}" target="_blank"><i class="social_twitter"></i></a></li>
                {{/if}}

                {{#if website}}
                <li class="mr-3"><a href="{{website}}" target="_blank"><i class="icon_globe-2"></i></a></li>
                {{/if}}

                {{#if website}}
                <li><a href="{{website}}" target="_blank"><i class="fa fa-globe"></i></a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</div>
{{/primary_author}}