<header class="header-area {{#is "home"}}home-page-navbar{{else}}inner-page-navbar{{/is}}">
    <div class="container-fluid">
        <div class="row line">
            <div class="col-sm-12">
                <div class="header-content d-flex justify-content-between align-items-center py-3">

                    <div class="menu-content flex-start">
                        {{ navigation }}
                    </div>

                    <div class="header-right flex-1 justify-content-end">
                        <div class="right-push-menu">
                            <div class="header-social-profiles flex-1">
                                <ul>

                                    {{#if @blog.facebook}}
                                        <li>
                                            <a href="{{facebook_url}}">
                                                <i class="social_facebook header-icon"></i>
                                            </a>
                                        </li>
                                    {{/if}}

                                    {{#if @blog.twitter}}
                                        <li>
                                            <a href="{{twitter_url}}">
                                                <i class="social_twitter header-icon"></i>
                                            </a>
                                        </li>
                                    {{/if}}

                                </ul>
                            </div>

                            <ul class="d-flex align-items-center">
                                <li class="search">
                                    <a href="javascript:void(0)">
                                        <i class="icon_search header-icon"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    {{!-- Header Righr --}}
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Push back menu -->
<div class="push-back-menu">
    <div class="close-icon text-white">
        <i class="icon_close"></i>
    </div>
    <div class="menu-content">
        {{ navigation }}
    </div>
</div>

{{> "search-result"}}