
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="table-contents">
                    <div class="contents center">CONTENTS</div>
                    <ul>
                    {{#get "tags" include="count.posts"}}
                        {{#foreach tags}}
                            <li class="tag up"><span><a href="{{ url }}">{{ name }}</a></span><span class="number lo">ix</span></li>
                            {{#get "posts" filter="tags:[{{name}}]" order="published_at DESC" limit="10"}}
                                {{#foreach posts}}
                                    <li class="post"><span class="title"><a href="{{ url }}">{{ title }}</a></span><span class="number lo">ix</span></li>
                                {{/foreach}}
                            {{/get}}

                        {{/foreach}}
                    {{/get}}
                    </ul>
                </div>

            </div>

            </div>
        </div>
    </div>
