<article class="post-card animation animated {{post_class}}{{#unless feature_image}} no-image{{/unless}} d-flex flex-wrap pt-5">
    {{#if feature_image}}
    <div class="post-feature-image">
        <a href="{{ url absolute=true }}">
            <img src="{{ feature_image }}" alt="{{ title }}">
        </a>
    </div>
    {{/if}}
    <div class="post-content flex-column justify-content-center">
        <h3 class="title line">
            <a href="{{ url absolute=true }}">{{ title }}</a>
        </h3>
        <div class="post-meta">
            {{#if tags}}
                <div class="tags">

                    {{#foreach tags}}
                        <a href="{{url}}" title="{{name}}" class="tag {{slug}}">#{{name}}</a>
                    {{/foreach}}

                    <time class="post-meta__date right" datetime="{{date format='YYYY-MM-DD'}}">
                        {{date format="DD MMMM YYYY"}}
                    </time>

                </div>
            {{/if}}

        </div>

        <div class="post-card-excerpt">
            <p>{{excerpt}}</p>
        </div>


        <footer class="post-card-footer d-flex justify-content-between right">
            <a href="{{ url absolute=true }}" class="d-flex align-items-center continue-reading ">
                <span class="reading-time">
                    {{reading_time}}
                </span>
                <i class="arrow_right"></i>
            </a>
        </footer>
    </div>
</article>



