
<div class="side-content">

    <div class="logo flex-2 col-md-12 center up">
        <a href="{{@blog.url}}" class="site-logo">
            {{#if @blog.logo}}
                <img src="{{ @blog.logo }}" alt="{{ @blog.title }}">
            {{else}}
                <span class="icon logo">{{> "icons/codenavi"}}</span>
            {{/if}}
        </a>
    </div>


{{#is "home, page"  }}

    <div class="wisdom col-sm-10 m-center">
        <p>
            "Good design adds value faster than it adds cost."
        </p>
        <span><a href=http://en.wikipedia.org/wiki/Tom_Gale">- Thomas C. Gale -</a></span>
    </div>


    <div class="side-nav side-menu col-md-12 center up" >
        {{navigation}}
        <li style="padding:0">&nbsp;</li>
    </div>

    <div class="side-nav side-menu col-md-12 center up">
        <ul>
            <li class="nav-current"><a>Categories</a></li>
            <li><a href="#">Algorithm</a></li>
            <li><a href="/tag/front-end">Front-end</a></li>
            <li><a href="/tag/front-end">Back-end</a></li>
            <li><a href="/tag/dev-ops">DevOps</a></li>
            <li><a href="#">Tools</a></li>
            <li style="padding:0">&nbsp;</li>
        </ul>
    </div>
    <div class="side-nav side-list col-md-12 m-center up">
        <ul>

            <li><a href="#"></a></li>

        </ul>
    </div>

    <div class="side-nav side-menu col-md-12 center up">
        <ul>
            <li class="nav-current"><a>Recent Post</a></li>
            <li style="padding:0">&nbsp;</li>
        </ul>
    </div>
    <div class="side-nav side-list col-md-12 m-center">
        <ul>
            {{#get "posts" order="published_at DESC" limit="5"}}
                {{#foreach posts}}
                    <li><a href="{{ url }}">{{ title }}</a></li>
                {{/foreach}}
            {{/get}}
        </ul>
    </div>



{{/is}}

{{#is "post"}}

    <div class="side-nav side-menu col-md-12 center">
        <ul>
            <li class="nav-current"><a>Table Of Contents</a></li>
            <li style="padding:0">&nbsp;</li>
        </ul>
    </div>

    <div class="side-nav col-md-12">
        <div class="js-toc "></div>
    </div>

{{/is}}


</div>


