<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ asset 'css/screen.css' }}">
    <link rel="stylesheet" href="{{ asset 'css/theme.css' }}">
    <link rel="stylesheet" href="{{ asset 'css/tocbot.css' }}">
    {{{block "styles"}}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="site-wrapper">

        <div id="side-menu-toggle" class="side-menu-toggle site-left-x"></div>
        <div class="site-left ">
            {{> "side-nav"}}
        </div>

        <div id="site-content" class="site-content site-left-x">
            {{> "header"}}
            {{{body}}}
        </div>
    </div>

    <footer class="site-footer">
        <p>{{@blog.title}} Minimal blogging</p>
    </footer>
    {{> "footer-scripts"}}
    {{ghost_foot}}
    {{{block "scripts"}}}
</body>
</html>
