{{!< default}}
{{#post}}

    {{#if page}}
        <div class="page-cover {{^if feature_image}}no-image{{/if}}" {{#if feature_image}} style="background-image: url({{feature_image}})"
        {{/if}}>
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="page-cover-text">
                            <h2>{{title}}</h2>
                            <p>{{excerpt}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {{else}}
        <div class="">
            {{#if feature_image}}
                <div class="container-fluid">
                    <div class="row">
                        <div class="content-feature-media w-100 mx-auto mt-5" style="background-image: url( {{ feature_image }} )" >
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    {{/if}}



    <div class="col-md-12 m-center ">

        <section class="open-book">
            <header>
                <h1>{{ date }} {{ reading_time }}</h1>
                <h6>
                    {{#primary_author}}
                        By {{ name }}
                    {{/primary_author}}
                </h6>
            </header>

            <h2 class="chapter-title">{{title}}</h2>

    {{#if feature_image}}
        <div class="chapter-image img-bg" style="background-image: url( {{ feature_image }} )">
        </div>
    {{/if}}

            <article class="js-toc-content">
                {{content}}
            </article>
            <footer>
                {{^if page}}
                    <div class="content-bottom">
                        <div class="row">
                            <div class="col-md-10 m-center">

                                {{> 'post-navigation' }}

                            </div>
                        </div>
                    </div>

                    <div class="container pt-5">
                        <div class="row">
                            <div class="col-md-10 m-center">
                                <div id="disqus_thread" class="col-md-12"></div>
                            </div>
                        </div>
                    </div>

                {{/if}}
                <ol id="page-numbers">
                    <li></li>
                    <li></li>
                </ol>
            </footer>
        </section>
        {{> "floating-header"}}
    </div>


{{/post}}


{{#contentFor "scripts"}}
    <script>
            {{#post}}
            var disqus_config = function () {
                this.page.url = "{{url absolute="true"}}";
                this.page.identifier = "ghost-{{comment_id}}";
            };
            {{/post}}
        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://writter-theme.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
{{/contentFor}}